<aside class="col-12 col-md-3 col-lg-2 p-3" style="background-color: #3d0c02;">
    <nav class="nav flex-column gap-2">
        <span class="text-uppercase text-white-50 small fw-semibold mb-2">Menu</span>
        <a class="nav-link text-white rounded px-3 py-2" href="{% url 'index' %}">
            Início
        </a>
        <a class="nav-link text-white rounded px-3 py-2" href="{% url 'listar_personagens' %}">
            Listar personagens
        </a>
        <a class="nav-link text-white rounded px-3 py-2" href="{% url 'create' %}">
            Novo personagem
        </a>
    </nav>
</aside>
