body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

/* TRANSFORM */

.transform{
    border: 2px solid black;
}

.transform .box img{
    /* transform: translate(200px, 200px); */
    /* transform: scale(1.5); */
    transform: rotate(90deg); /* para rotação em 90° por exemplo */
}



/* TRANSITION */

.transition{
    border: 2px solid black;
    background-color: cornflowerblue;

    transition-property: background-color, border-radius;
    transition-duration: 2s, 0.8s;
    /* transition-delay: 1s; */
    transition-timing-function:ease-in-out /*para dar uma suavisada no começo e no final (mesclando)

    /* transition-timing-function: cubic-bezier(.15, .89, .85, .26) */
}

.transition:hover{
    border-radius: 50%;
    background-color: darkslategrey;

}

/* KEYFRAMES */

.keyframes{
    margin-top: 20px;
    border: 2px solid black;
    animation: fly-Y 2s infinite ;
}

/* Apartir das kayframes você pode definir animações para o início (0% ou from) e final(100% ou to), além de valores entre, ou seja, interpolados ao começo e fim */

@keyframes fly-Y {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }

}

/* ANIMATION */

.animation{
    background-color: goldenrod;
    border: 2px solid black;


    /* PROPRIEDADES ANIMATION */

    /* animation-name: fly-X;
    animation-duration: 2s;
    animation-timing-function: infinite; */
    animation: fly-X 2s ease-in-out infinite ;

    /* animation-delay: 500s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: */

}
@keyframes fly-X {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(-50px);
    }
    100%{
        transform: translate(50px);
    }
}